# Data Cleaning

## Import Dependency

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.2-cp313-cp313-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\documents\wiwie\projects\ai-fifa-21-data-visualization\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\documents\wiwie\projects\ai-fifa-21-data-visualization\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.5 MB 6.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.5 MB 6.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.5 MB 6.0 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 5.9 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 6.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.0 MB/s eta 0:00:00
Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/12.6 MB 8.4 MB/s eta 0:00:02
   ---------- ----------------------------- 3.4/12.6 MB 8.5 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.6 MB 8.1 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.6 MB 8.2 MB/s eta 0:00:01
   --------------------------- ------------ 8.7/12.6 MB 8.5 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 8.1 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 7.1 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [ ]:
import pandas as pd

import sys
import os
sys.path.append(os.path.abspath('..'))
from utils import pandas_column_utils
from utils import missing_value_utils

## Import Dataset

In [ ]:
url = 'https://storage.googleapis.com/rg-ai-bootcamp/assignment-1/fifa21_raw_data.csv'
fifa_df = pd.read_csv(url, low_memory=False)

fifa_df.to_csv('../datasets/fifa21_raw_data.csv', index=False)

fifa_df.head()

,Unnamed: 0,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,...,High,Low,5 ★,89,93,81,89,35,77,562
2,2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,...,High,High,4 ★,76,86,93,88,64,78,207
4,4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,...,High,Medium,5 ★,91,85,86,94,36,59,595

## TASK-01: Remove Unnamed Column

In [ ]:
column = 1
fifa_df = fifa_df.drop(["Unnamed: 0"], axis=column)

display(fifa_df.head(2))

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562

## TASK-02: Remove Newline Character `\n`

In [6]:
column_with_newline_characters = []
for column_name in fifa_df.columns:
    if pandas_column_utils.contain_character(fifa_df[column_name], '\n'):
        column_with_newline_characters.append(column_name)
        
display(column_with_newline_characters)

['Club']

In [7]:
for column_name in column_with_newline_characters:
    fifa_df[column_name] = pandas_column_utils.remove_character(fifa_df[column_name], '\n')

In [8]:
display(fifa_df[column_with_newline_characters].head(2))

           Club
0  FC Barcelona
1      Juventus

## TASK-03: Remove Star Character `★`

In [9]:
column_with_star_characters = []
for column_name in fifa_df.columns:
    if pandas_column_utils.contain_character(fifa_df[column_name], '★'):
        column_with_star_characters.append(column_name)
        
display(column_with_star_characters)

['W/F', 'SM', 'IR']

In [10]:
for column_name in column_with_star_characters:
    fifa_df[column_name] = pandas_column_utils.remove_character(fifa_df[column_name], '★')

In [11]:
display(fifa_df[column_with_star_characters].head(2))

  W/F SM  IR
0  4   4  5
1  4   5  5

## TASK-04: Fill Missing Value

In [12]:
missing_value_percentage = missing_value_utils.get_percentage(fifa_df)

display(missing_value_percentage)

                Total  Percentage
Loan Date End   17966   94.662522
Hits             2595   13.673007
Name                0    0.000000
ID                  0    0.000000
Age                 0    0.000000
LongName            0    0.000000
POT                 0    0.000000
Club                0    0.000000
Contract            0    0.000000
Nationality         0    0.000000
Positions           0    0.000000
Height              0    0.000000
Preferred Foot      0    0.000000
Weight              0    0.000000
BOV                 0    0.000000
Best Position       0    0.000000
Joined              0    0.000000
↓OVA                0    0.000000
Value               0    0.000000
Wage                0    0.000000
Total Stats         0    0.000000
Release Clause      0    0.000000
W/F                 0    0.000000
SM                  0    0.000000
A/W                 0    0.000000
Base Stats          0    0.000000
D/W                 0    0.000000
IR                  0    0.000000
SHO                 0    0.000000
PAC                 0    0.000000
PAS                 0    0.000000
DRI                 0    0.000000
DEF                 0    0.000000
PHY                 0    0.000000

In [13]:
fifa_df = fifa_df.fillna({
    'Loan Date End': 'Not on Loan',
    'Hits': 'Unknown'
})

In [14]:
display(fifa_df[['Loan Date End', 'Hits']].tail(2))

      Loan Date End     Hits
18977   Not on Loan  Unknown
18978   Not on Loan  Unknown

## TASK-05: Convert Financial Data

Example:
- €5K -> 5000
- €5M -> 5000000

In [15]:
column_with_euro_currency_characters = []
for column_name in fifa_df.columns:
    if pandas_column_utils.contain_character(fifa_df[column_name], '€'):
        column_with_euro_currency_characters.append(column_name)

In [16]:
for column_name in column_with_euro_currency_characters:
    fifa_df[column_name] = pandas_column_utils.convert_currency_to_number(fifa_df[column_name], '€')

In [17]:
display(fifa_df[column_with_euro_currency_characters].head(2))

       Value    Wage  Release Clause
0  103500000  560000       138400000
1   63000000  220000        75900000

## Export Cleaned Dataset

In [18]:
fifa_df.to_csv('../datasets/fifa21_cleaned_data.csv', index=False)

## Submission

In [ ]:
# !pip install rggrader

In [ ]:
# from rggrader import submit

In [ ]:
# student_id = "REAINTCZ"
# name = "Wiwie Sanjaya"
# drive_link = "https://github.com/wiwiewei18/ai-fifa-21-data-visualization"

In [ ]:
# assignment_id = "00_fifa_21_players_data_analysis_and_visualization"
# question_id = "01_removing_the_unnamed_column"

# submit(student_id, name, assignment_id, fifa_df.head(1).to_string(), question_id, drive_link)

In [ ]:
# assignment_id = "00_fifa_21_players_data_analysis_and_visualization"
# question_id = "02_removing_the_newline_characters"
# club_col = fifa_df['Club'].head()

# submit(student_id, name, assignment_id, club_col.to_string(), question_id, drive_link)

In [ ]:
# assignment_id = "00_fifa_21_players_data_analysis_and_visualization"
# question_id = "03_removing_star_characters"
# star_col = fifa_df[['W/F', 'SM', 'IR']].head()

# submit(student_id, name, assignment_id, star_col.to_string(), question_id, drive_link)

In [ ]:
# assignment_id = "00_fifa_21_players_data_analysis_and_visualization"
# question_id = "04_filling_missing_values"
# missing_vals_col = fifa_df[['Loan Date End', 'Hits']].tail()

# submit(student_id, name, assignment_id, missing_vals_col.to_string(), question_id, drive_link)

In [ ]:
# assignment_id = "00_fifa_21_players_data_analysis_and_visualization"
# question_id = "05_cleaning_converting_financial_data"
# converted_col = fifa_df[['Name', 'Value', 'Wage', 'Release Clause']].head()

# submit(student_id, name, assignment_id, converted_col.to_string(), question_id, drive_link)